<center>
    <img src="{{ href }}" height=500> 
    <form method="POST">
        <p>Enter airline</p>
        <select name="airline">
            <option value="1">AA</option>
            
            <option value="2">AS</option>
           
            <option value="3">B6</option>
            
            <option value="4">CO</option>
            
            <option value="5">DL</option>
        </select>
        <br>
        <p>Select Flight(1-7814)</p>
        <input type="text" name = 'flight'>
        <br>
        <p>Airport From</p>
        <select name="airportFrom" >
            <option value="1">ABI</option>
            
            <option value="2">ABQ</option>
           
            <option value="3">ABR</option>
            
            <option value="4">ABY</option>
            
            <option value="5">ACT</option>
        </select>
        <br>
        <p>Airport To</p>
        <select name="airportTo">
            <option value="1">ABI</option>
            
            <option value="2">ABQ</option>
           
            <option value="3">ABR</option>
            
            <option value="4">ABY</option>
            
            <option value="5">ACT</option>
        </select>
        <br>
        <p>Day of week</p>
        <select name="dayOfWeek">
            <option value="1">Monday</option>
            
            <option value="2">Tuesday</option>
           
            <option value="3">Wednesday</option>
            
            <option value="4">Thursday</option>
            
            <option value="5">Friday</option>

            <option value="6">Saturday</option>

            <option value="7">Sunday</option>
        </select>
        <p>Time</p>
        <input type="text" name = 'time'>
        <br>
        <p>Length</p>
        <input type="text" name="length">
        <br>
        <input type = "submit">
    </form>
</center> 